[Unit]
Description=Minute Timer
Requires=python_controller.service

[Timer]
OnBootSec=15
OnCalendar=*:*:0:15
Unit=python_controller.service

[Install]
WantedBy=timers.target