[Unit]
Description=Python Script to fetch queue messages and create AMIS

[Service]
User=ubuntu
Group=ubuntu
WorkingDirectory=/home/ubuntu/CSE546/auto-scale
ExecStart=/usr/bin/python3.8 /home/ubuntu/CSE546/auto-scale/controller.py

[Install]
WantedBy=multi-user.target